<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/container.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script defer src="../javascript/index.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header__logo">
                <h2 class="title">
                    <a href="/index">조물조물</a>
                </h2>
            </div>
            <div class="header__nav"></div>
            <div class="header__menu"></div>
        </header>
        <nav class="nav">nav</nav>
        <main class="main">
            <div class="drink__page drink__like">취향</div>
            <!-- 취향 안에 어울리는 술 까지 나오게..! -->
            <div class="drink__page drink__shop">주점</div>
        </main>
        <footer class="footer">footer</footer>
    </div>
</body>
</html>