<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <form action="/ques" method="post">
        <p>
            <label for="number">질문번호</label>
            <input type="number" name="number" id="number">
        </p>
        <p>
            <label for="content">질문내용</label>
            <input type="text" name="content" id="content">
        </p>
        <p>
            <label for="response">응답</label>
            <input type="text" name="response" id="response">
            <input type="text" name="response" id="response">
            <input type="text" name="response" id="response">
            <input type="text" name="response" id="response">
            <input type="text" name="response" id="response">
        </p>
        <p>
            <label for="response">value</label>
            <input type="text" name="value" id="value">
            <input type="text" name="value" id="value">
            <input type="text" name="value" id="value">
            <input type="text" name="value" id="value">
            <input type="text" name="value" id="value">
        </p>
        <p>
            <input type="submit" value="질문등록">
        </p>
    </form>
</body>
</html>